:root {
  --categorySlider: 40px;
}

.category-product-wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
}

.category-description-wrapper{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#content .subpagesList li img, #content .imagesList li img, #content .imagePreview img, #products li .photo img{
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  border: none;
  border-radius: 0;
  width: 100%;
}

#content .subpagesList li img:hover, #content .imagesList li img:hover, #content .imagePreview img:hover, #products li .photo a:hover img{
  border: none;
}

#products {
  margin-top: 0px;
}

#products li .basket{
  padding-left: 0;
  display: flex;
}

#products li .basket #addBasket{
  display: flex;
}

#products li .basket #addBasket button {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-shadow: none;
  border: 1px solid var(--themeColor);
  transition: 0.2s ease background, 0.2s ease color;
  padding: 10px 0px;
  background: var(--themeColor);
}

#products li .basket #addBasket button::before {
  font-family: "Font Awesome 5 Free";
   content: "\f07a";
   display: inline-block;
   vertical-align: middle;
   font-weight: 900;
}


#products li .basket #addBasket button:hover {
  text-shadow: none;
  color: var(--themeColor);
  background: white;
}

#products .list li {
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 0;
  padding: 5px;
}

#products li h2{
  padding: 0;
}

.product-category-title{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#products li .price, #products li .noPrice {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#products li div.description {
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#content .subpagesList{
  height: var(--categorySlider);
  margin: 0px 0px 20px 0px;
}

#content .subpagesList li h2 a{
  color: white;
  text-decoration: none;
  padding: 5px;
  line-height: var(--categorySlider);
  border: 1px solid var(--themeColor);
  background: var(--themeColor);
  border-radius: 100px;
  font-size: 14px;
}

#content .subpagesList li h2 a:hover{
  text-decoration: none;
}

#content .subpagesList li {
  background: white;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  width: auto;
  float: none;
  display: inline-block;
  border: none;
  line-height: var(--categorySlider);
}

#content .subpagesList li:first-child {
  margin-left: 0px;
}

#content .subpagesList li h2 {
  padding: 0;
}

#products .sort {
  padding: 0px;
}

#sort-select {
  margin-left: 5px;
}

#page div.content p {
  padding: 0px;
  margin-bottom: 10px;
}
