#copy{
  color: blue !important;
}

.footer_row1{

  width: auto;
  height: 50px;
  margin: 0 auto;
  padding: 0px 0px 0px 0px;
  margin-left: 10px;
}

.footer_grid{
  font-family: Poppins, sans-serif;
  font-weight: lighter;
}

.beoordeeling_green{
  color: var(--themeColor);
  font-size: 20px;
  padding-top: 5px;
}

.inline{
  display: inline-block;
}

.footer_link{
  color: coolblue;
}

.pb_footer_title{
  font-family: Poppins, sans-serif;
  font-size: 26px;
  margin-left: 10px;
}

.truststars{
  background-image: url('../admin/img/stars.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  /*width: 200px;
  height: auto;*/
}

.trust-logos--logo{
  display: inline-block;
  height: 3.2rem;
  background-image: url(https://assets.coolblue.nl/images/default/trust/trust-icons-sprite.20191016.svg);
  background-repeat: no-repeat;
  background-size: 60rem;
  margin-right: 20px;
}

.trust-logos--ideal{
  background-position: -30rem 0;
  width: 3.1rem;
}

.trust-logos--mastercard {
    background-position: 0 0;
    width: 4.7rem;
}

.trust-logos--visa {
    background-position: -10rem 0;
    width: 5.9rem;
}

.trust-logos--applepay{
    background-position: -20rem -4.7rem;
    width: 4.5rem;
}


@media screen and (min-width:48em){
  *{}
}
