:root {
  --viewport: 1400px;
  --themeColor: #138c2b;
}

@font-face {
    font-family: 'Poppins'; /*a name to be used later*/
    src: url('font/poppins/Poppins-Regular.ttf'); /*URL to font*/
}

*{
  font-family: 'Poppins';
}

#header{
  position: fixed;
  z-index: 999;
  width: 100%;
}

#head2{
  max-width: var(--viewport);
  margin: 0 auto;
}

#head3 .container {
  background: white;
  border: none;
  height: auto;
}

#head3 .container ul{
  border: none;
}

#head3 .container ul li{
  float: none;
  border: none;
}

#body{
  margin-top: 200px;
}

 /* Small screen */
@media screen and (min-width: 35.5em){
  #head3{
    display: block;
    background: var(--themeColor);
  }

  #head3 .container ul li{
    float: left;
  }

  #head3 .container ul li a{
    padding: 0;
    height: auto;
    line-height: 20px;
  }

  #head3 .container{
    background: var(--themeColor);
  }
}

@media screen and (min-width: 48em){

}

@media screen and (min-width: 64em){
}

@media screen and (min-width: 80em){
}
